//- Template for the layout of the app
template(name='layout')
  +famousContext id="mainCtx"
    +switchRoute
    +RenderController
      +yield


//- Template for logout
template(name='switchRoute')
  
  +StateModifier align='[1,0]' origin='[1,0]' translate='[-10,0,10]'
    +Surface template='logoutButton' id='switchRoute' size='[true, true]' class='overlay'

//- Template for the main page showing the rooms in a flex grid and
//- the add room button
template(name='roomsShow')
  +SequentialLayout direction="Y" size="[undefined,undefined]"
    +Surface target="top" template="addRoom" class="list-todo" size="[undefined,40]"
    +middle

//- Template fir the add room button/function 
template(name='addRoom')
  div.btns-group
    div.btn-secondary.add
      span.glyphicon.glyphicon-plus

//- Tempalte used for testing
template(name='second')
  +StateModifier align='[.5,.5]' origin='[.5,.5]'
    +Surface size='[true, true]'
      h1 Second route


//- Template showing the rooms on the main page
template(name='middle')
  +StateModifier    
    +Scrollview id='scrollview'
      +FlexGrid id='flexgrid' marginTop='25'
        +famousEach this.rooms
          +Surface template='roomGridItem' class="room item"

//- Template that shows the name of the room inside the flex grid
template(name='roomGridItem')
  div.parent
    div.child
      h3= name

//- Template for the logout button
template(name='logoutButton')
    p Logout
