<!-- <template name="boxLayout">
  {{#BoxLayout this}}
  {{#each expectedTargets}}
  {{#if isEq this 'middle'}}
  {{>View modifier="StateModifier" template="middle" class=this translate="[0,0,-1]"}}
  {{else}}
  {{>Surface modifier="StateModifier" target=this template="addRoom" class=this}}
  {{/if}}
  {{/each}}
  {{/BoxLayout}}
</template>




<template name="roomsShow">
{{#GridLayout dimensions="[1,1]" size="[undefined,undefined]"}}
  {{#famousEach blocks}}
    {{#Modifier align="[.5,.5]" origin="[.5,.5]"}}
      {{> boxLayout this}}
    {{/Modifier}}
  {{/famousEach}}
{{/GridLayout}}
{{#Modifier align="[.5,.5]" origin="[.5,.5]"}}
  {{#BoxLayout margins="[60,0,0,0]"}}

    {{>Surface target="top" template="addRoom" class="top"}}


    {{>View modifier="StateModifier" template="middle" class=this translate="[0,0,-1]"}}
  {{/BoxLayout}}
  {{/Modifier}}

{{#BoxLayout margins="[60,60,60,60,60,60,60,60]"}}
  {{>Surface target="topLeft" template="addRoom" class="topLeft"}}
  {{>Surface target="top" template="addRoom" class="top"}}
  {{>Surface target="topRight" template="addRoom" class="topRight"}}
  {{>Surface target="left" template="addRoom" class="left"}}
  {{>View target="middle" template="middle" class="middle"}}
  {{>Surface target="right" template="addRoom" class="right"}}
  {{>Surface target="bottomLeft" template="addRoom" class="bottomLeft"}}
  {{>Surface target="bottom" template="addRoom" class="bottom"}}
  {{>Surface target="bottomRight" template="addRoom" class="bottomRight"}}
  {{/BoxLayout}}

{{#SequentialLayout direction="Y" size="[undefined,undefined]"}}
    {{>Surface target="top" template="addRoom" class="top" size="[undefined,40]"}}
  {{>ContainerSurface modifier="StateModifier" template="middle" class=this translate="[0,0,-1]"}}
    {{> middle}}
{{/SequentialLayout}}

</template>



<template name="addRoom">
<div class="col-xs-2">
  <div class="row" >

  </div>
</div>
<div class="parent">
  <div class="child">
    <span class="glyphicon glyphicon-plus">
    </span>
  </div>
</div>
</template>



<template name='middle'>
  {{#Scrollview id='scrollview' translate="[0,0,-1]"}}
    {{#FlexGrid id='flexgrid' itemSize='[250, 150]'}}
      {{#famousEach this.rooms}}
        {{>Surface template='roomGridItem' class='container' size="[250, 150]"}}
      {{/famousEach}}
    {{/FlexGrid}}
  {{/Scrollview}}
</template>


<template name='roomGridItem'>
  <div class="jumbotron">
    <h3>{{name}}</h3>
  </div>
</template>
 -->
