head
  title sime
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')


template(name="appBody")
  +famousContext id="mainCtx"
    +HeaderFooterLayout headerSize="85" footerSize="0"}}
      +StateModifier align='[.5,0]' origin='[.5,0]' target="header" translate="[0,20,20]" 
        +switchRoute
        +Surface size="[true, 50]" 
          #header sime
        
        +StateModifier align='[0,0]' origin='[0,0]' translate="[10,0,20]" 
          +Surface size="[true, true]" template="header"
            
          
      +RenderController id="mainRC" target="content" transition="slideWindowLeft" size="[undefined,undefined]"
        +yield



template(name='header')
  i.fa.fa-arrow-circle-left.fa-2x
